#navigation {
  width: 750px;
  margin-left: 30px;
}

img {
  vertical-align: middle;
}

img.new-img {
  float: right;
  padding-right: 20px;
}

span.date {
  padding-left: 30px;
}

span.rating {
  padding-left: 30px;
}

span.author {
  padding-left: 30px;
}

.cat-header {
  text-align: center;
}

.total-header {
  text-align: center;
}

.review_item {
  width: 750px;
  margin-left: 30px;
}
#header {
  width: 750px;
  margin-left: 30px;
}
#header h2 {
  text-align: center;
}
#header h3 {
  text-align: center;
}
#header img {
  padding-left: 20px;
  padding-right: 30px;
}
p.headline {
  font-weight: bold;
}
#navigation a {
  margin-right: 20px;
}
.home table {
  width: 750px;
  margin-left: 30px;
}
.home tr.second td {
  padding-top: 20px;
}
.home td.count {
  text-align: right;
}
.home td#new {
  text-align: right;
}
.home td#all {
  text-align: right;
}

.home tr.sub-cat td a{
  height: 30px !important;
}

#category table {
  width: 600px;
  margin-left: 30px;
}

#category td.count {
  text-align: right;
}
#category td#new {
  text-align: right;
}
#category td#all {
  text-align: right;
}
#category td.p-link {
  text-align: center;
}
#category tr.first img {
  padding-left: 100px;
}
#category tr.first td {
  padding-bottom: 10px;
}
#category td.sub-name {
  padding-left: 30px;
  font-weight: bold;
}

