.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
*.swp
*~
.project
.DS_Store
config/database.yml
haml_out/
c_pages/
p_pages/
home.html
*.xls
lib/load_data/target.html
*.zip
allBuzz2013*
allBuzz2014*
exercise_files
*.sql
*.dmp
missing_rfs*
errors.txt
new_amazon_links*
