// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.review-container {
  width: 50em;
}

ul.review-items {
  list-style-type: none;
}

li.headline {
  font-weight: bold;
  margin-bottom: .5em;
}
